PORT=3000
JWT_SECRET=restaurant_secret_key_2026
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=alejoadmin
S3_SECRET_KEY=alejo1234
S3_BUCKET_NAME=restaurante-bucket
CORS_ORIGIN=http://localhost:5173
